[user]
	email = midia.matheus@gmail.com
	name = Matheus Hernandes

[alias]
	p	= push
	pm 	= push origin master
	pd	= push origin dev
	po	= push origin
	c	= commit -m
	a	= add -A
	ca	= !git add -A && git commit -m
	b	= branch
	ck	= checkout
	cb	= checkout -b
	cbd	= checkout -b dev
	pl	= pull
	plm	= pull origin master
	pld	= pull origin dev
	plo	= pull origin
	st = stash
	sp = stash pop
	undo = reset HEAD~1

[push]
	default = current

[core]
	excludefiles = ~/.gitignore_global