[Desktop Entry]
Name=Alacritty
Comment=GPU powered terminal
Keywords=terminal;
Exec=alacritty
Icon=$HOME/.icons/terminal.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;FileManager;
MimeType=inode/directory;application/x-gnome-saved-search;
